@font-face {
  font-family : OstrichSansMedium;
  font-weight : normal;
  font-style: normal;
  src : url(OstrichSans-Medium.otf);
}

@font-face {
  font-family : OstrichSansBlack;
  font-weight : normal;
  font-style: normal;
  src : url(OstrichSans-Black.otf);
}

@font-face {
  font-family : FanwoodText;
  font-weight : normal;
  font-style: normal;
  src : url('Fanwood-Text.otf');
}

@font-face {
  font-family : FanwoodTextItalic;
  font-weight : normal;
  font-style: italic;
  src : url('Fanwood-Text-Italic.otf');
}

@font-face {
  font-family : Chunk;
  font-weight : bold;
  font-style: normal;
  src : url('Chunk.otf');
}
