@font-face {
  font-family : LeagueGothic;
  font-weight : normal;
  font-style: normal;
  src : url(LeagueGothic-Regular.otf);
}

@font-face {
  font-family : Fanwood;
  font-weight : normal;
  font-style: normal;
  src : url('Fanwood Text.otf');
}
